
<style>
    .footer_container {
        color: rgb(150, 150, 150);
        background-color: rgb(50, 50, 50);
        line-height: 0.5vw;
        height: 9vw;
        width: 100%;
        text-align: left;
        display: flex;
        justify-content: space-between;


    }

    .footer_container a:link {
        color: rgb(150, 150, 150);
        text-decoration: none;
        background-color: transparent;
    }



    .footer_container a:active {
        color: rgb(150, 150, 150);
        text-decoration: none;
        background-color: transparent;
    }

    .footer_container a:visited {
        color: rgb(150, 150, 150);
        text-decoration: none;
        background-color: transparent;
    }

    .footer_container a:hover {
        color: rgb(200, 200, 200);
        text-decoration: none;
        background-color: transparent;

    }

    .footer_contacts a {
        text-decoration: none;
        background-color: transparent;

    }

    .footer_contacts img {
        height: 5vw;
        width: auto;
        background: transparent;
        margin-top: 2vw;
        box-shadow: transparent;
        margin: -0.2vw;
        padding-top: 2vw;
    }

    .footer_container p,
    .footer_container h1 {
        vertical-align: 5vw;
        margin-left: 2vw;
    }

    .footer_container p {
        font-size: 1vw;
    }
</style>

<head>

</head>

<body>
    <br><br><br>
    <div class="footer_container">
        <div class="footer_aboutus">
            <a href="/about">
                <br>
                <h1 style="font-size: 3vw;">About Us</h1>
                <p>(A Surprise is waiting)</p>
                <p>Hint:Arrow Keys</p>
            </a>
        </div>

        <div class="footer_contacts">
            <a href="https://www.facebook.com/leaf-forums" target="_blank">
                <img src="../facebook.png" alt="facebook-logo">
            </a>
            <a href="https://www.instagram.com/leaf-forums" target="_blank">
                <img src="../instagram.png" alt="instagram-logo">
            </a>
            <a href="https://www.linkedin.com/company/leaf-forums" target="_blank">
                <img src="../linkedin.png" alt="linkedin-logo">
            </a>
            <a href="https://www.twitter.com/leaf-forums" target="_blank">
                <img src="../twitter.png" alt="twitter-logo">
            </a>
            <a href="https://www.youtube.com/user/leaf-forums" target="_blank">
                <img src="../youtube.png" alt="youtube-logo">
            </a>
        </div>
    </div>

</body>
</html>
