<!DOCTYPE html>
<html lang="en-US">

<head>
    <link rel="Leaf Forums Icon" href='./logo.gif'>
    <title>Welcome to the Dark Forums</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

    body {
        background-color: rgb(20, 20, 20);
        color: rgb(133,133,133);
    }

    body a {
        background: rgb(133, 133, 133);
        font-size: 3vw;
    }

    nav {
        width: 100%;
        background-color: rgb(34, 34, 34);
        position: sticky;
        top: 0%;
        z-index: 1000;

    }

    .logo {
        padding: 0%;
        width: 10vw;

    }

    .buttons {
        display: flex;
        flex-direction: row;
        padding-top: 1vw;
        justify-content: space-around;

    }

    buttons div {
        padding-left: 0px;
    }

    nav ul li {
        list-style: none;
        padding-top: 0%;
    }

    nav ul li a:hover {
        background: rgb(53, 53, 53);
    }

    nav ul li a:focus {
        background: rgb(85, 85, 85);
    }


    nav ul li a {
        padding: 0px 1vw;
        display: block;
        color: rgb(133, 133, 133);
        text-decoration: none;
        background: rgb(44, 44, 44);
        font-size: 2vw;

    }



    nav ul {
        display: flex;
        padding: 0%;
        justify-content: space-between;

    }

</style>
<nav>
    <ul>
        <div class="logo">
            <li>
                <header><img src="../logo.gif" alt="Leaf Forums Logo" height="40%" width="40%"></header>
            </li>
        </div>
        <div class="buttons">
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>
            <li><a href="/logout">Logout</a></li>
        </div>
    </ul>
</nav>
