<!DOCTYPE html>
<html lang="en-US">

<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <!-- <title>Welcome to the Leaf Forums</title> -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

    * {
        font-family: 'Open Sans';
    }

    nav {
        width: 100%;
        background-color: rgb(57, 62, 70);
        position: sticky;
        top: 0;
        z-index: 1000;
        height: 4.5vw;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        padding-top: 0.6vw;
        justify-content: space-around;
        margin-right: 0.5vw;
    }

    .buttons a {
        border: 0.2vw solid rgb(57, 62, 70);
    }

    nav ul li {
        list-style: none;
        padding-top: 0%;
    }

    nav ul li a:hover {
        background: rgb(0, 137, 144);
    }

    nav ul li a {
        padding: 0px 1vw;
        display: block;
        color: rgb(238, 238, 238);
        text-decoration: none;
        background: rgb(0, 173, 181);
        font-size: 2vw;

    }

    nav ul {
        display: flex;
        padding: 0%;
        justify-content: space-between;
    }

    #composelogo img {
        width: 10vw;
        /* margin-left: 7vw; */
    }

    nav ul li a img {
        box-shadow: transparent;
        background: transparent;
        height: 4vw;
        width: 4vw;
    }

    @media(max-width:900px) {
        nav {
            width: 100%;
            background-color: rgb(57, 62, 70);
            position: sticky;
            top: 0;
            z-index: 1000;
            height: 8vw;
        }

        .buttons {
            display: flex;
            flex-direction: row;
            padding-top: 1vw;
            justify-content: space-around;
            margin-right: 0.5vw;
        }

        .buttons a {
            border: 0.4vw solid rgb(57, 62, 70);
        }

        nav ul li {
            list-style: none;
            padding-top: 0%;
        }

        nav ul li a:hover {
            background: rgb(0, 137, 144);
        }

        nav ul li a {
            padding: 0px 1vw;
            display: block;
            color: rgb(238, 238, 238);
            text-decoration: none;
            background: rgb(0, 173, 181);
            font-size: 4vw;

        }

        nav ul {
            display: flex;
            padding: 0%;
            justify-content: space-between;
        }

        #composelogo img {
            width: 20vw;
            /* margin-left: 7vw; */
        }

        nav ul li a img {
            box-shadow: transparent;
            background: transparent;
            height: 8vw;
            width: 8vw;
        }
    }
</style>

<body>

    <nav>
        <ul>
            <div class="logo">
                <li>
                    <header><a href="/" style="padding: 0px 0vw; box-shadow: transparent; background: transparent;"><img
                                src="../logo.gif" alt="Leaf Forums Logo"></a></header>
                </li>
            </div>


            <% if(user == null ) {   %>
            <div class="buttons" id="logggedout">
                <li>
                    <a href="/signup">Sign Up</a>
                </li>
                <li>
                    <a href="/login">LogIn</a>
                </li>
            </div>
            <% } else { %>
            <div class="compose" id="composelogo" style="display: flex;"><a href="/compose"
                    style="background-color: rgba(0,0,0,0);"><img src="../compose.png" alt="Compose Logo"></a>
            </div>
            <div class="buttons" id="loggedin" style="display: flex;">
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="/logout">LogOut</a>
                </li>
            </div>
            <% } %>


        </ul>
    </nav>
