<body class="htmlNoPages">
   <header class="logo-header" id="Header">
      <img src="assets\IIITM useless logo.png" alt="Logo" class="logo">
   </header>
   <img class="vishnu-img" src="assets/profile_pic.png" id="Vishnu_img">
   <a class="vishnu nav-link" id="Vishnu_info" href="https://www.vishnuworld.wordpress.com">Vishnu<br>
      2019BCS-072
   </a>
   <img class="vishnu-img" id="Sahil_img">
   <p class="vishnu" id="Sahil_info">Sahil<br>
      2019BCS-051
   </p>
   <img class="vishnu-img" id="Bharat_img">
   <p class="vishnu" id="Bharat_info">Bharat<br>
      2019BCS-012
   </p>
   <div class="player" id="test_player" style="left: 0%; top: 70%; width: 1%; height: 2%;"></div>
   <div class="player" id="food" style="width: 1%; height: 2%;"></div>
   <script src="Test.js"></script>
</body>

</html>