<!DOCTYPE html>
<html>

<%- include("partials/header"); -%>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>About Page - Leaf Forums</title>
  <link rel="stylesheet" href="objects.css">
  <style type="text/css" id="gwd-text-style">
    .aboutcontainer {
      margin-top: 2vw;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      /* width: 98vw; */
    }

    .aboutcontainer div {
      flex-direction: column;

    }

    .aboutcontent {
      display: flex;
      flex-direction: column;
      width: 18vw;
      font-size: 2.5vw;
      color: rgb(238, 238, 238);
    }

    .aboutcontent img {
      width: 15vw;
      height: 16.5vw;
    }

    .aboutcontent p {
      background-color: rgb(57, 62, 70);
      padding: 1vw;
      text-align: center;
      margin-top: -1vw;
    }

    .player {
      position: absolute;
      background-color: rgb(248, 228, 4);
      background-image: none;
      width: 1vw;
      height: 1vw;
      /* opacity: 0.75; */
      z-index: 1010;
    }

    #test_player {
      background-color: red;
    }

    #food {
      background-color: rgb(236, 11, 217);
    }

    @media(max-width:900px) {
      .aboutcontainer {
        margin-top: 4vw;
        margin-left: 22vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* width: 98vw; */
      }

      .aboutcontainer div {
        flex-direction: column;

      }

      .aboutcontent {
        display: flex;
        flex-direction: column;
        width: 45vw;
        font-size: 6.5vw;
        color: rgb(238, 238, 238);
      }

      .aboutcontent img {
        width: 30vw;
        height: 33vw;
        align-self: center;
      }

      .aboutcontent p {
        background-color: rgb(57, 62, 70);
        padding: 1.5vw;
        text-align: center;
      }

      .player {
        position: absolute;
        background-color: rgb(248, 228, 4);
        background-image: none;
        width: 1vw;
        height: 1vw;
        /* opacity: 0.75; */

        z-index: 1010;
      }

      #test_player {
        background-color: red;
        display: none;
      }

      #food {
        background-color: rgb(236, 11, 217);
        display: none;
      }
    }
  </style>
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic"
    rel="stylesheet" type="text/css">
</head>

<body class="htmlNoPages">
  <div class="aboutcontainer">
    <div class="aboutcontent"><img class="vishnu-img" id="Vishnu_img" src="assets/profile_pic.png">
      <p>Vishnu <br> 2019BCS-072</p>
    </div>
    <div class="aboutcontent"><img class="vishnu-img" id="Sahil_img" src="assets/L_deathNote.png">
      <p>Sahil <br> 2019BCS-051
      </p>
    </div>
    <div class="aboutcontent"><img class="vishnu-img" id="Sahil_img" src="assets/bharatimg.png">
      <p>Bharat <br> 2019BCS-012
      </p>
    </div>
  </div>
  <div class="player" id="test_player" style="left: 10vw; top: 10vw; width: 1vw; height: 1vw;"></div>
  <div class="player" id="food" style="width: 1vw; height: 1vw;"></div>
  <script src="Test.js"></script>
</body>


<!-- <%- include("partials/footer"); -%> -->

</html>
