<%- include("partials/header"); -%>
<link href="objects.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<meta name="viewport" content="width=device-width,initial-scale=1">

<head>
    <style>
        .PostBody {
            margin-bottom: 1vw;
            height: 14vw;
            font-size: 1.2vw;
        }

        .TitleInput {
            margin-bottom: 1vw;
            height: 2vw;
            font-size: 1.5vw;
        }



        @media(max-width:900px) {
            .PostBody {
                margin-bottom: 1vw;
                height: 40vw;
                font-size: 2.5vw;
            }

            .TitleInput {
                margin-bottom: 1vw;
                height: 4vw;
                font-size: 3vw;

            }


        }
    </style>
    <title>Compose</title>
</head>
<h1 class="Heading">COMPOSE</h1>
<form action="http://localhost:8080/compose" method="post">
    <div class="Container" id="container_div">
        <label class="SubHeading" id="sub_heading">Title</label>
        <input class="TitleInput" type="text" name="postTitle" required="">
        <label class="SubHeading" id="sub_heading">Post</label>
        <textarea class="PostBody" name="postBody" required=""></textarea>
        <input class="ButtonSubmit" id="button_submit" type="submit" value="SUBMIT">
    </div>
</form>
<br>
<br><br><br>
<%- include("partials/footer"); -%>