<%- include("partials/header"); -%>

<br>
    <div class="container">
        <div class="main">
            <div class="cicle1">

                <p><strong> Discussions <br>Started:</strong></p>
                <p>15</p>

            </div>
            <div class="cicle2">

                <p><strong> Thanks <br>Recieved: </strong>
                    <p>15</p>

            </div>
            <div class="cicle3">

                <p><strong>Comments:<br></strong></p>
                <p>15</p>

            </div>
        </div>
        <br>
        <hr>
        <hr>
        <div class="user_details">
            <div class="username">
                <h1 style="font-size: 2vw;">Username:</h1>
                <p
                    style="font-size: 2vw;border: 0.1vw solid rgb(85, 85, 85);background-color: rgb(53, 53, 53);width: 30vw;text-align: center;">
                    value28387</p>
            </div>
            <div class="email">
                <h1 style="font-size: 2vw;">Email Address:</h1>
                <p
                    style="font-size: 2vw;border: 0.1vw solid rgb(85, 85, 85);background-color: rgb(53, 53, 53);width: 30vw;text-align: center;">
                    lahnofk897@ialh.afih</p>
            </div>
            <div class="name">
                <h1 style="font-size: 2vw;">Full Name:</h1>
                <p
                    style="font-size: 2vw;border: 0.1vw solid rgb(85, 85, 85);background-color: rgb(53, 53, 53);width: 30vw;text-align: center;">
                    Aasdfasf
                    Haffjk</p>
            </div>
            <div class="dob">
                <h1 style="font-size: 2vw;">Date of Birth:</h1>
                <p
                    style="font-size: 2vw;border: 0.1vw solid rgb(85, 85, 85);background-color: rgb(53, 53, 53);width: 30vw;text-align: center;">
                    07/07/2000</p>
            </div>
            <br>
            <a href="./edit_profile.html" style="background-color: rgb(20, 20, 20);">
                <h1 style="font-size: 2vw;">Edit Profile</h1>
        </div>

       
    </div>
</body>


<%- include("partials/footer"); -%>