<!DOCTYPE html>
<html lang="en-US">

<head>
    <link rel="mask-icon" href="../logo.png">
    <title>Welcome to the Leaf Forums - First forum</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="objects.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<meta name="viewport" content="width=device-width,initial-scale=1">
<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

    body {
        background-color: rgb(20, 20, 20);
    }

    body a {
        background: rgb(133, 133, 133);
        font-size: 3vw;
    }

    nav {
        width: 100%;
        background-color: rgb(34, 34, 34);
        position: sticky;
        top: 0;
        z-index: 1000;

    }

    .logo {
        padding: 0%;
        width: 10vw;

    }

    .buttons {
        display: flex;
        flex-direction: row;
        padding-top: 1vw;
        justify-content: space-around;

    }

    buttons div {
        padding-left: 0px;
    }

    nav ul li {
        list-style: none;
        padding-top: 0%;
    }

    nav ul li a:hover {
        background: rgb(53, 53, 53);
    }

    nav ul li a:focus {
        background: rgb(85, 85, 85);
    }


    nav ul li a {
        padding: 0px 1vw;
        display: block;
        color: rgb(133, 133, 133);
        text-decoration: none;
        background: rgb(44, 44, 44);
        font-size: 2vw;

    }



    nav ul {
        display: flex;
        padding: 0%;
        justify-content: space-between;

    }

    .main {
        display: flex;
        margin-left: 10vw;
        margin-right: 5vw;
        /* flex-direction: column; */
    }

    .main div {
        color: rgb(133, 133, 133);
        display: flex;
        width: 25vw;
        height: 25vw;
        /* letter-spacing: 2px; */
        border: 0.1vw solid rgb(80, 80, 80);
        /* border-radius: 10%; */
        background-color: rgb(71, 71, 71);
        padding: 0%;
        font-size: 3vw;
        font-family: 'Open Sans', ;
        position: relative;
        margin-left: 1vw;
        margin-right: 1vw;



    }

    .user_details h1 {
        font-size: 2vw;
    }

    .user_details p {
        font-size: 2vw;
        border: 0.1vw solid rgb(85, 85, 85);
        background-color: rgb(53, 53, 53);
        width: 30vw;
        text-align: center;
    }

    .cicle1,
    .cicle2,
    .cicle3 {
        border-radius: 50%;

        flex-direction: column;
        text-align: center;
        justify-content: center;
        border-color: rgb(71, 71, 71);

    }

    .user_details {
        color: rgb(133, 133, 133);
        display: flex;
        flex-direction: column;
        width: 70vw;
        margin: 0 auto;

    }

    .user_details div {
        display: flex;
        justify-content: space-between;
    }

    .user_details {
        font-size: 5vw;
    }

    .user_details h1 {
        font-size: 2vw;
    }

    .user_details p {
        font-size: 2vw;
        border: 0.1vw solid rgb(85, 85, 85);
        background-color: rgb(53, 53, 53);
        width: 30vw;
        text-align: center;
    }

    @media(max-width:600px) {
        .main {
            display: flex;
            margin-left: 15vw;
            margin-right: 0;
            flex-direction: column;
            justify-content: space-around;
        }

        .main div {
            color: rgb(133, 133, 133);
            display: flex;
            width: 60vw;
            height: 60vw;
            /* letter-spacing: 2px; */
            border: 0.1vw solid rgb(80, 80, 80);
            /* border-radius: 10%; */
            background-color: rgb(71, 71, 71);
            padding: 0%;
            font-size: 7vw;
            font-family: 'Open Sans', ;
            position: relative;
            margin-left: 1vw;
            margin-right: 1vw;
        }

        nav ul li a {
            padding: 0px 1vw;
            display: block;
            color: rgb(133, 133, 133);
            text-decoration: none;
            background: rgb(44, 44, 44);
            font-size: 5vw;

        }

        .logo {
            width: 30vw;
        }

        .user_details {
            font-size: 5vw;
        }

        .user_details h1 {
            font-size: 5vw;
        }

        .user_details p {
            font-size: 5vw;
            border: 0.2vw solid rgb(85, 85, 85);
            background-color: rgb(53, 53, 53);
            width: 70vw;
            text-align: center;
        }
    }
</style>

<body>

    <nav>
        <ul>
            <div class="logo">
                <li>
                    <header><img src="./logo.gif" alt="Leaf Forums Logo" height="40%" width="40%"></header>
                </li>
            </div>
            <div class="buttons">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><a href="/logout">Logout</a></li>
            </div>
        </ul>
    </nav>
    <br>
    <div class="container">
        <div class="main">
            <div class="cicle1">

                <p><strong> Discussions <br>Started:</strong></p>
                <p>15</p>

            </div>
            <div class="cicle2">

                <p><strong> Thanks <br>Recieved: </strong>
                    <p>15</p>

            </div>
            <div class="cicle3">

                <p><strong>Comments:<br></strong></p>
                <p>15</p>

            </div>
        </div>
        <br>
        <hr>
        <div class="user_details">
            <div class="username">
                <h1>Username:</h1>
                <p>
                    value28387</p>
            </div>
            <div class="email">
                <h1>Email Address:</h1>
                <p>
                    lahnofk897@ialh.afih</p>
            </div>
            <div class="name">
                <h1>Full Name:</h1>
                <p>
                    Aasdfasf
                    Haffjk</p>
            </div>
            <div class="dob">
                <h1>Date of Birth:</h1>
                <p>
                    07/07/2000</p>
            </div>


        </div>
        <h1 class="Heading">YOUR RECENT DISCUSSIONS</h1>
        <script src="home.js"></script>
        <% for(var i = posts.length - 1; i >= 0; i--) { %>
        <div class="Container">
            <div class="SubHeadingContainer">
                <a class="SubHeading" href=""><%= posts[i].title %></a>
            </div>
            <div class="ProfileContainer">
                <div class="ImgDiv" overflow="hidden">
                    <img class="ProfileImg" src="assets/default_profile_pic.jpg">
                </div>
                <div class="ProfileInfoDiv">
                    <div class="ProfileNameDiv">
                        <a class="ProfileNameA" id="profile_name_a" href=""><%= posts[i].user %></a>
                    </div>
                    <div class="ProfileNameDiv" id="date_div">
                        <span class="ProfileNameA" id="date_a"><%= posts[i].date %></span>
                    </div>
                </div>
            </div>
            <p class="BodySpan"><%= posts[i].body %></p>

        </div>
        <% } %>
        <script>
            var elem = document.getElementsByClassName("BodySpan");
            for (var i = 0; i <= elem.length; i++) {
                var str = elem[i].innerHTML;
                str = str.replace(/char10/g, "<br>")
                elem[i].innerHTML = str;
            }
        </script>

    </div>
</body>

</html>
