<%- include("partials/header"); -%>
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Log In Page</title>
  <meta name="generator" content="Google Web Designer 7.1.1.1210">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <style type="text/css">
    body {
      background-color: rgb(34, 40, 49);
      font-family: "Open Sans";

    }

    .login_div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 50vw;
      height: 30vw;
      background-image: none;
      margin-top: 7vw;
      margin-left: 25vw;
      background-color: rgb(57, 62, 70);
      /* min-height: 250px; */
    }

    .login_div div {
      flex-direction: row;
    }

    .login_p {

      text-align: center;
      font-size: 3vw;
      font-weight: bold;
      font-family: "Open Sans";
      color: rgb(0, 173, 181);
    }

    .username_label {
      margin-top: 1vw;
      font-weight: bold;
      font-size: 1.5vw;
      text-align: left;
      font-family: "Open Sans";
      color: rgb(0, 173, 181);
    }

    .username_input {

      color: black;
      margin-bottom: 1vw;
      width: 30vw;
      height: 1.5vw;
      border: none;
      font-size: 1.2vw;
      padding: 0.5vw;
    }

    .username_input :focus {

      color: black;
      margin-bottom: 1.5vw;
      width: 30vw;
      height: 1vw;
      border: none;
      font-size: 1.2vw;
      padding: 0.5vw;
    }

    .pasword_input {
      color: black;
      margin-bottom: 0.5vw;
      width: 30vw;
      height: 1vw;
      border: none;
      font-size: 1.2vw;
      padding: 0.5vw;
    }

    .pasword_input:focus {
      color: black;
      margin-bottom: 0.5vw;
      width: 30vw;
      height: 1vw;
      border: none;
      font-size: 1.2vw;
      padding: 0.5vw;
    }

    .signIn_button {


      background-image: none;
      outline: none;
      border: none;
      border-radius: 1%;
      text-align: center;
      font-size: 1.5vw;
      cursor: pointer;
      padding: 0.5vw;
      color: rgb(238, 238, 238);
      font-family: "Open Sans";
      width: 9vw;
      height: 3vw;
      background-color: rgb(0, 173, 181);
    }


    .signIn_button:hover {
      background-color: rgb(0, 173, 250);
    }

    .forgot_password {


      text-align: right;
      color: rgb(0, 173, 181);
      font-size: 1vw;
      background: transparent;
    }

    .forgot_password:hover {
      color: rgb(0, 173, 250);
    }

    @media(max-width:900px) {
      .login_div {
        width: 95vw;
        margin-left: 2vw;
        margin-right: 2vw;
        height: 70vw;
      }

      .forgot_password {
        font-size: 2.5vw;
      }

      .signIn_button {
        width: 18vw;
        height: 6vw;
        padding: 0.5vw;
        font-size: 3.5vw;
      }

      .login_p {

        text-align: center;
        font-size: 9vw;
        font-weight: bold;
        font-family: "Open Sans";
        color: rgb(0, 173, 181);
      }

      .username_label {
        margin-top: 1vw;
        font-weight: bold;
        font-size: 4vw;
        text-align: left;
        font-family: "Open Sans";
        color: rgb(0, 173, 181);
      }

      .username_input {

        color: black;
        margin-bottom: 1vw;
        width: 75vw;
        height: 5vw;
        border: none;
        font-size: 3vw;
        padding: 0.5vw;
      }

      .username_input :focus {

        color: black;
        margin-bottom: 1.5vw;
        width: 75vw;
        height: 5vw;
        border: none;
        font-size: 3vw;
        padding: 0.5vw;
      }

      .pasword_input {
        color: black;
        margin-bottom: 1.5vw;
        width: 75vw;
        height: 5vw;
        border: none;
        font-size: 3vw;
        padding: 0.5vw;
      }

      .pasword_input:focus {
        color: black;
        margin-bottom: 1.5vw;
        width: 75vw;
        height: 5vw;
        border: none;
        font-size: 3vw;
        padding: 0.5vw;
      }
    }
  </style>
</head>

<body>
  <div class="login_div" id="loginDiv">

    <form id="login_form" action="http://localhost:8080/login" method="post">
      <div>
        <h1 class="login_p" id="loginP">Log In</h1><br>
      </div>
      <div><label class="username_label" id="Username-Label">Username:</label></div>
      <div><input class="username_input" id="Username-Input" type="text" placeholder="Your Username" name="user"
          required=""></div>
      <div><label class="username_label" id="Password-Label">Password:</label></div>
      <div><input class="pasword_input" id="Password-Input" type="password" placeholder="Your Password" name="pass"
          required=""></div>
      <div><input class="signIn_button" id="SignIn-Button" type="submit" value="Log In"></div>
      <div><a class="forgot_password" id="Forgot-Password-a" href="http://localhost:8080/forgot-password">forgot
          password</a></div>
    </form>

  </div>
</body>

</html>