<%- include("partials/header"); -%>
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>LoginPage</title>
  <style type="text/css">
    p {
      margin: 0px;
    }

    h1 {
      margin: 0px;
    }

    h2 {
      margin: 0px;
    }

    h3 {
      margin: 0px;
    }
  </style>
  <style type="text/css">
    html,
    body {
      width: 100%;
      height: 99%;
      margin: 0px;
    }

    body {
      background-color: rgb(34, 40, 49);

    }

    .login_div {
      position: absolute;
      width: 50%;
      height: 50%;
      left: 25%;
      top: 25%;
      background-image: none;
      border-radius: 0.2em;
      padding: 0px;
      background-color: rgb(57, 62, 70);
    }

    .login_p {
      position: absolute;
      text-align: center;
      top: 30%;
      height: 5%;
      font-size: 2.5vw;
      font-weight: bold;
      font-family: "Open Sans";
      color: rgb(0, 173, 181);
      left: 25%;
      width: 50%;
    }

    .username_input {
      position: absolute;
      width: 30%;
      height: 4%;
      top: 45.5%;
      left: 35.5%;
      font-size: 1vw;
    }

    .signIn_button {
      position: absolute;
      left: 38.17%;
      top: 65.33%;
      background-image: none;
      outline: none;
      border: none;
      border-radius: 10%;
      text-align: center;
      font-size: 1vw;
      cursor: pointer;
      padding: 0.5%;
      color: white;
      font-family: "Open Sans";
      width: 8%;
      height: 6%;
      background-color: rgb(0, 173, 181);
    }



    .signIn_button:hover {
      background-color: rgb(0, 144, 151);
    }

    #login_form {
      display: flow;
    }

    #Password-Label {
      font-weight: bold;
      position: absolute;
      font-size: 1.5vw;
      text-align: left;
      font-family: "Open Sans";
      color: rgb(0, 173, 181);
      height: 2%;
      top: 51.5%;
      left: 35.5%;
    }

    .pasword_input {
      position: absolute;
      top: 56%;
      left: 35.5%;
      width: 30%;
      height: 4%;
      font-size: 1vw;
    }

    #gwd-label-18fa {
      font-weight: bold;
      position: absolute;
      font-size: 1.5vw;
      text-align: left;
      font-family: "Open Sans";
      color: rgb(0, 173, 181);
      height: 2%;
      top: 40.5%;
      left: 35.5%;
    }



    @media(max-width:1000px) {
      .login_div {
        position: absolute;
        width: 85%;
        height: 50%;
        left: 10%;
        top: 25%;
        background-image: none;
        border-radius: 0.2em;
        padding: 0px;
        background-color: rgb(57, 62, 70);
      }

      .login_p {
        position: absolute;
        text-align: center;
        top: 30%;
        height: 5%;
        font-size: 5vw;
        font-weight: bold;
        font-family: "Open Sans";
        color: rgb(0, 173, 181);
        left: 25%;
        width: 50%;
      }

      .username_input {
        position: absolute;
        width: 60%;
        height: 4%;
        top: 45.5%;
        left: 22.5%;
        font-size: 3vw;
      }

      .signIn_button {
        position: absolute;
        left: 23.17%;
        top: 65.33%;
        background-image: none;
        outline: none;
        border: none;
        border-radius: 10%;
        text-align: center;
        font-size: 2vw;
        cursor: pointer;
        padding: 0.5%;
        color: white;
        font-family: "Open Sans";
        width: 16%;
        height: 6%;
        background-color: rgb(0, 173, 181);
      }



      .signIn_button:hover {
        background-color: rgb(0, 144, 151);
      }

      #login_form {
        display: flow;
      }

      #Password-Label {
        font-weight: bold;
        position: absolute;
        font-size: 3vw;
        text-align: left;
        font-family: "Open Sans";
        color: rgb(0, 173, 181);
        height: 2%;
        top: 51.5%;
        left: 22.5%;
      }

      .pasword_input {
        position: absolute;
        top: 56%;
        left: 22.5%;
        width: 60%;
        height: 4%;
        font-size: 2vw;
      }

      #gwd-label-18fa {
        font-weight: bold;
        position: absolute;
        font-size: 3vw;
        text-align: left;
        font-family: "Open Sans";
        color: rgb(0, 173, 181);
        height: 2%;
        top: 40.5%;
        left: 22.5%;
      }
    }
  </style>
</head>

<body>
  <div class="login_div" id="loginDiv"></div>
  <form id="login_form" action="http://localhost:8080/change-password" method="post">
    <p class="login_p" id="loginP">CHANGE PASSWORD</p>
    <label class="username_label" id="gwd-label-18fa">NEW
      PASSWORD:</label>
    <input class="username_input" id="Username-Input" type="password" placeholder="Your Username" name="pass"
      required="">
    <label class="username_label" id="Password-Label">RETYPE PASSWORD:</label>
    <input class="pasword_input" id="Password-Input" type="password" placeholder="Your Password" name="repass"
      required="">
    <p id="test" style="color: white;" class=""></p>
    <input name="user" id="User" value="<%= username %>" style="display: none;">
    <input class="signIn_button" id="SignIn-Button" type="submit" value="LOG IN">
  </form>
</body>

</html>
